.App {
  text-align: center;
}

body{
  margin: 0;
  /* background: #bdc3c7;  /* fallback for old browsers */
  background-image:url('https://i.pinimg.com/originals/2a/c5/8c/2ac58ca3c5e1d553148f12ba1d7a38e8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
  background: linear-gradient(to right, #2c3e50, #bdc3c7); */
}
